<div class="row">
    <div class="col s8 offset-s2">
        <div class="card">
            <div class="sm-jumbotron center-align">
                <h2>User Registration</h2>
            </div>
            <form class="col s12 white">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="UserName"/>
                        <label>User Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="Password"/>
                        <label>Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" name="Email"/>
                        <label>Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="FirstName"/>
                        <label>First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="LastName"/>
                        <label>Last Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button class="btn-large btn-submit" type="submit">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


